{% extends "base.html" %}

{% block extrahead %}
{{ super() }}
<script type="module" src="{{ base_url }}/js/pdfjs/pdfrenderizar.js"></script>
{% endblock %}

{% block content %}

<!-- <button id="registerButton">Usuario: No registrado</button> -->
<!-- <button id="registerButton" class="md-button md-button--primary">Registro</button> Botón con clases de estilo -->
<button id="registerButton" class="md-button" style="color: grey;z-index: 1000; position: fixed; border: white; top: 50px; right: 20px;">Registro</button>

<div id="overlay"></div>
<div id="popup">
    <form id="registerForm">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" required>
        <br>
        Acepto la <a href="#" id="abrirModal">política de privacidad</a><input type="checkbox" id="aceptarTerminos"
            name="aceptarTerminos" value="true" style="margin-right: 0%;" required>

        <button type="submit" class="md-button">Registrarse</button>
        <button id="closePopup" class="md-button"><span style="color: red; ">✖</span></button>
        <br><br>
    </form>
</div>

<!-- El modal -->
<div id="miModal" class="modal">
    <!-- Contenido del modal -->
    <div class="modal-content">
        <span class="close">&times;</span>

            <h1>Política de Privacidad</h1>
            
            En IberCAE , nos comprometemos a proteger y respetar su privacidad. Esta política describe cómo recopilamos,
            utilizamos, almacenamos y compartimos su información personal cuando utiliza nuestro sitio web y servicios,
            incluidos los correos electrónicos que enviamos.

            <h2>1. Información que recopilamos</h2>
            Recopilamos información que usted nos proporciona directamente cuando interactúa con nuestro sitio web y
            servicios. Esto incluye:

            Correo electrónico: Recopilamos su dirección de correo electrónico cuando se suscribe a nuestros servicios,
            completa formularios en nuestro sitio o se pone en contacto con nosotros.
            Información de uso: Recopilamos información sobre cómo utiliza nuestro sitio web, como las páginas que
            visita y los enlaces en los que hace clic.


            <h2>2. Uso de la información</h2>
            Usamos su información para:

            Enviar correos electrónicos informativos o promocionales relacionados con nuestros servicios, solo si ha
            dado su consentimiento para recibir dichas comunicaciones.
            Responder a sus consultas y proporcionarle el soporte necesario.
            Mejorar nuestro sitio web y servicios, basándonos en sus comentarios y comportamiento.


            <h2>3. Protección de su información</h2>
            Nos tomamos en serio la seguridad de sus datos personales. Implementamos medidas de seguridad adecuadas para
            proteger su información de accesos no autorizados, alteraciones o divulgación.

            <h2>4. Compartir su información</h2>
            No vendemos ni alquilamos su información personal a terceros. Solo compartimos su información en las
            siguientes circunstancias:

            Proveedores de servicios: Podemos compartir su información con terceros proveedores que nos ayudan a operar
            el sitio web o realizar nuestras actividades comerciales, siempre que estos cumplan con estrictas políticas
            de privacidad.
            Requisitos legales: Podemos divulgar su información si es requerido por ley o si creemos que dicha acción es
            necesaria para cumplir con procedimientos legales, proteger nuestros derechos, propiedad o seguridad.

            <h2>5. Sus derechos</h2>
            Tiene el derecho de acceder, actualizar o eliminar la información personal que tenemos sobre usted. También
            puede optar por dejar de recibir nuestros correos electrónicos promocionales en cualquier momento haciendo
            clic en el enlace de cancelación de suscripción que se encuentra en la parte inferior de dichos correos.
            <h2>6. Cambios en la política de privacidad</h2>

            
            Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio
            se publicará en esta página y la fecha de actualización será revisada.

            <h2> 7. Contacto</h2>
            Si tiene alguna pregunta o inquietud sobre esta política de privacidad, puede ponerse en contacto con
            nosotros a través de info@ibercae.com.
        </p>
    </div>
</div>

{{ super() }} <!-- Para que continúe mostrando el contenido de la página actual -->
{% endblock %}